body {
    text-align:center;
    color:white;
    background:red;
    
}
table { 
	border-collapse: 	collapse;

	
}
table, tr, td, th { 
	padding: 			20px; 
	border:				solid 5px white;
    text-align: center;
    background:black
}
tr {
	vertical-align: 	top;
}
th {
	
	color: 				white;
}
tr:nth-child(odd)			{ background-color: lightblue; }
tr:nth-child(even)		{ background-color: lightgrey; }
ul {
	list-style-position:inside; 
	text-align:center;
}
ol {
	list-style-position:inside; 
	text-align:center;
}